@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #e7e9ea;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card {
  background-color: #16181c;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  text-align: center;
  max-width: 400px;
  width: 100%;
  border: 1px solid #2f3336;
}

h1 {
  margin-bottom: 10px;
  font-size: 26px;
  color: #e7e9ea;
}

.subheading {
  font-size: 14px;
  color: #8899a6;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #000;
  color: #e7e9ea;
  border: 1px solid #2f3336;
  border-radius: 9999px;
  outline: none;
  margin-bottom: 20px;
  transition: border 0.3s;
}

input:focus {
  border-color: #1d9bf0;
}

button {
  width: 100%;
  padding: 12px 25px;
  margin-left: 10px;
  background-color: #1d9bf0;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1a8cd8;
}

.message {
  margin-top: 20px;
  font-weight: 500;
  color: #1d9bf0;
}

.note {
  margin-top: 10px;
  font-size: 12px;
  color: #8899a6;
}

.footer {
  margin-top: 40px;
  font-size: 12px;
  color: #555;
  text-align: center;
}

/* .github-icon {
  color: red;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  transition: transform 0.3s;
}

.github-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
} */

.github-link {
  color: white;
  margin-top: 10px;
  display: inline-block;
  transition: transform 0.3s;
}

.github-link:hover {
  transform: scale(1.2);
  color: #1da1f2; /* Optional: Twitter blue on hover */
}
